@import "../global.scss";

.portfolioList {
  font-size: 14px;
  margin-right: 50px;
  padding: 9px;
  border-radius: 10px;
  cursor: pointer;
  overflow: initial;
  line-height: 9px;
  &.active {
    background-color: $mainColor;
    color: white;
  }
}
